.injection-box{
    justify-content: center;
    height: 60%;
    position: relative;
}

.injection{
    -webkit-transform: rotate(90deg);
    height: 20%;
    position: absolute;
    top: 50%;
}

.injection-text{
    width: 100%;
    margin-top: 70px;
    text-align: center;
    font-weight: bold;
}


//スマホ 縦向き
@media screen and (min-width:480px) and (orientation:portrait){
    .injection{
        width: 85%;
      }
}

//スマホ 横向き
@media screen and (min-width:480px) and (orientation:landscape){
    .injection{
        width: 40%;
    }
}

//ipad
@media screen and (min-width:768px){
    h1{
        font-size: clamp(50px,2.9vw, 60px);
    }
}

//ipad 縦向き
@media screen and (min-width:768px) and (orientation:portrait){
  .injection{
    width: 85%;
  }
}

//ipad 縦向き
@media screen and (min-width:768px) and (orientation:landscape){
    .injection{
      width: 40%;
    }
}