<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>メニュー</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content scroll-y="false">
      <ion-list>
        <ion-item (click)="onClickPrivacyPolicyBtn()">
          <ion-label>プライバシーポリシー</ion-label>
          <ion-icon name="reader-outline"></ion-icon>
        </ion-item>

        <ion-item (click)="onClickAppDescBtn()">
          <ion-label>アプリ説明ページ</ion-label>
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>