:host{
    height: 100%;
}

ion-card{
    min-height: 533px;
    min-width: 300px;
    ion-card-content{
        height: 100%;
    }
}

ion-fab{
    opacity: 0.8;
}

//縦
@media screen and (orientation:portrait){
    ion-fab{
        top:60%;
    }
}
//横
@media screen and (orientation:landscape){
    ion-fab{
        top:70%;
    }
}

//スマホ 縦
@media screen and (min-width:480px) {
    ion-card{
        min-height: 533px;
        min-width: 300px;
    }
}

//ipad
@media screen and (min-width:768px) {
    ion-card{
        height: 906px;
        width: 600px;
    }
}