ion-card{
    height: 80vh !important;
    width: 85vw !important; 
}

ion-fab{
    opacity: 0.8;
}

//スマホ横
@media screen and (orientation:landscape){
    ion-card{
        height: 65vh !important;
        width: 70vw !important;
    }

    ion-fab{
        top:70%;
    }
}