img{
    width: 145px !important;
    height: 295px !important;
    object-fit: contain;
}

//スマホ縦
@media screen and (min-width:480px) and (orientation:landscape){
    img{
        height: 85px !important;
    }
}