<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

  <app-mazai-showcase></app-mazai-showcase>

  <ion-grid fixed>
    <ion-row>
      <ion-text color="primary">
        <h1>カフェイン</h1>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-progress-bar type="determinate" value="0.42" color="primary"></ion-progress-bar>
    </ion-row>

    <ion-row>
      <ion-text color="primary">
        <h3>糖質</h3>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-progress-bar type="determinate" value="0.42" color="primary"></ion-progress-bar>
    </ion-row>

    <ion-row>
      <ion-text color="primary">
        <h3>カロリー</h3>
      </ion-text>
    </ion-row>
    <ion-row>
      <ion-progress-bar type="determinate" value="0.42" color="primary"></ion-progress-bar>
    </ion-row>
  </ion-grid>


</ion-content>