<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{this.now| date:'yyyy/MM/dd'}}の魔材注入状況</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

  <app-mazai-showcase></app-mazai-showcase>

  <ion-grid fixed>

    <ion-row>
      <ion-col size="8" id="coffeIn-trigger">
        <ion-text color="primary">
          <h2>カフェイン</h2>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-text color="primary">
          <h2> {{this.todayCoffeInInTakeObserver | async}}mg</h2>
        </ion-text>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-progress-bar class="mazai-progress-bar" type="determinate" [value]="this.LatestCoffeInPer"
        [buffer]="this.TodayCoffeInInTakePer" color="primary">
      </ion-progress-bar>
    </ion-row>

    <ion-popover trigger="coffeIn-trigger" triggerAction="click" side="top">
      <ng-template>
        <ion-content class="ion-padding">
          推奨一日のカフェイン摂取量:{{this.RECOMMEND_COFFEIN}}mg
        </ion-content>
      </ng-template>
    </ion-popover>


    <ion-row>
      <ion-col size="8" id="sugar-trigger">
        <ion-text color="primary">
          <h2>糖質</h2>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-text color="primary">
          <h2> {{this.todaySugarInTakeObserver| async}}mg</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-progress-bar class="mazai-progress-bar" type="determinate" [value]="this.LatestSugarPer"
        [buffer]="this.TodaySugarInTakePer" color="primary">
      </ion-progress-bar>
    </ion-row>

    <ion-popover trigger="sugar-trigger" triggerAction="click" side="top">
      <ng-template>
        <ion-content class="ion-padding">
          推奨一日の糖質摂取量:{{this.RECOMMEND_SUGAR}}mg
        </ion-content>
      </ng-template>
    </ion-popover>


    <ion-row>
      <ion-col size="8" id="kcal-trigger">
        <ion-text color="primary">
          <h2>カロリー</h2>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-text color="primary">
          <h2> {{this.todayKcalInTakeObserver| async}}kcal</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-progress-bar class="mazai-progress-bar" type="determinate" [value]="this.LatestKcalPer"
        [buffer]="this.TodayKcalInTakePer" color="primary">
      </ion-progress-bar>
    </ion-row>

    <ion-popover trigger="kcal-trigger" triggerAction="click" side="top">
      <ng-template>
        <ion-content class="ion-padding">
          推奨一日のカロリー摂取量:{{this.RECOMMEND_KCAL}}kcal
        </ion-content>
      </ng-template>
    </ion-popover>

  </ion-grid>


</ion-content>