<app-header></app-header>

<ion-content [fullscreen]="true">

  <!-- ヘルパーカード -->
  <app-helper-card></app-helper-card>

  <app-mazai-showcase #mazaiShowCase></app-mazai-showcase>

  <ion-grid fixed>

    <ion-row>
      <ion-col size="8" (click)="onClickEnergyInfoPopoverBtn($event, this.COFFEIN_TYPE)">
        <ion-text color="primary">
          <h2>
            カフェイン
            <ion-icon name="alert-circle-outline" color="primary"></ion-icon>
          </h2>
        </ion-text>
      </ion-col>


      <ion-col size="4">
        <ion-text color="primary">
          <h2> {{(this.energyReportObserver | async)?.CoffeInIntake}}mg</h2>
        </ion-text>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-progress-bar class="mazai-progress-bar" type="determinate"
        [value]="this.LatestCoffeInPer === 0 ? this.CoffeInInTakePer : this.LatestCoffeInPer"
        [buffer]="this.CoffeInInTakePer" color="{{this.CoffeInProgressColor}}">
      </ion-progress-bar>
    </ion-row>

    <ion-row>
      <ion-col size="8" (click)="onClickEnergyInfoPopoverBtn($event,this.SUGAR_TYPE)">
        <ion-text color="primary">
          <h2>
            糖質
            <ion-icon name="alert-circle-outline" color="primary"></ion-icon>
          </h2>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-text color="primary">
          <h2> {{(this.energyReportObserver| async)?.SugarInTake}}mg</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-progress-bar class="mazai-progress-bar" type="determinate"
        [value]="this.LatestSugarPer === 0 ? this.SugarInTakePer : this.LatestSugarPer" [buffer]="this.SugarInTakePer"
        color="{{this.SugarProgressColor}}">
      </ion-progress-bar>
    </ion-row>


    <ion-row>
      <ion-col size="8" (click)="onClickEnergyInfoPopoverBtn($event,this.KCAL_TYPE)">
        <ion-text color="primary">
          <h2>
            カロリー
            <ion-icon name="alert-circle-outline" color="primary"></ion-icon>
          </h2>
        </ion-text>
      </ion-col>

      <ion-col size="4">
        <ion-text color="primary">
          <ng-container *ngIf="(this.energyReportObserver| async)?.KcalInTake < 1000 then xm else sm">
          </ng-container>

          <!-- 3桁以内なら画面に収まる -->
          <ng-template #xm>
            <h2> {{(this.energyReportObserver| async)?.KcalInTake}}kcal</h2>
          </ng-template>
          <!-- 3桁を超えたら小さくする -->
          <ng-template #sm>
            <h3> {{(this.energyReportObserver| async)?.KcalInTake}}kcal</h3>
          </ng-template>

        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-progress-bar class="mazai-progress-bar" type="determinate"
        [value]="this.LatestKcalPer === 0 ? this.KcalInTakePer : this.LatestKcalPer" [buffer]="this.KcalInTakePer"
        color="{{this.KcalProgressColor}}">
      </ion-progress-bar>
    </ion-row>

  </ion-grid>


</ion-content>