<div class="root">
  <ng-container *ngFor="let mazai of this.mazaiInjectionListObserver | async">
    <ng-container *ngFor="let record of mazai.MazaiInjectionDataList">

      <app-mazai-thumbnail id="{{mazai.MazaiId}}-{{record.InjecionDateTime}}" [mazai]="mazai">
      </app-mazai-thumbnail>

      <ion-popover trigger="{{mazai.MazaiId}}-{{record.InjecionDateTime}}">
        <ng-template>
          <ion-content class="ion-padding">
            {{record.InjecionDateTime | date:'yyyy/MM/dd hh:mm:ss'}}注入
          </ion-content>
        </ng-template>
      </ion-popover>

    </ng-container>
  </ng-container>
</div>

<div class="injection-count-root">
  <ion-text color="primary">
    <h5>注入数：{{this.mazaiInjectionCountObserver | async}}本</h5>
  </ion-text>
</div>