ion-img{
    max-width: 14px;
    max-height: 35px;
}

.root ion-img{
    display: inline-block;
    vertical-align: top;
}

.injection-count-root{
    margin-right: 15px;
    ion-text{
        text-align: end;
    }
}