<div class="root">
  <ng-container *ngFor="let mstyle of this.mazaiStyles">
    <ion-img id="{{mstyle.deg}}" src="../../../../../assets/samples/IMG_0087.PNG"
      [style.transform]="'rotate(' + mstyle.deg + 'deg)'">
    </ion-img>

    <ion-popover trigger="{{mstyle.deg}}">
      <ng-template>
        <ion-content class="ion-padding">
          2022/08/15 21:42注入
        </ion-content>
      </ng-template>
    </ion-popover>

  </ng-container>
</div>

<ion-text color="primary" style="text-align: end;">
  <h5>注入数：{{this.mazaiStyles.length}}本</h5>
</ion-text>