<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed style="height: 100%;">
    <ion-row>
      <swiper [pagination]="true" (swiper)="setSwiperInstance($event)">

        <ng-container *ngFor="let mazai of this.mazaiObserver | async;">
          <ng-template swiperSlide>
            <mazain-card [mazai]="mazai"></mazain-card>
          </ng-template>
        </ng-container>

        <ng-template swiperSlide>
          <mazain-card-plus></mazain-card-plus>
        </ng-template>

      </swiper>

    </ion-row>
  </ion-grid>


</ion-content>