<ion-card tappable>

  <div class="img-box">

    <app-mazai-image [mazai]="this.mazai"></app-mazai-image>

    <ion-icon class="menu-icon" id="menu-button-{{this.mazai.MazaiId}}" name="ellipsis-horizontal-outline">
    </ion-icon>

    <ion-popover #popver trigger="menu-button-{{this.mazai.MazaiId}}">
      <ng-template>
        <ion-list>
          <ion-item button="true" (click)="onClickEditBtn()">
            <ion-label>編集</ion-label>
            <ion-icon name="create-outline"></ion-icon>
          </ion-item>

          <ion-item button="true" (click)="onClickDeleteBtn()">
            <ion-label color="danger">削除</ion-label>
            <ion-icon color="danger" name="trash-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ng-template>
    </ion-popover>

  </div>

  <ion-card-header>
    <ion-card-title>{{this.mazai.MazaiName}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="6" style="text-align: right;">カフェイン:</ion-col>
        <ion-col size="6" style="text-align: left;">{{this.mazai.MzaiCoffeIn}}mg</ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6" style="text-align: right;">糖質:</ion-col>
        <ion-col size="6" style="text-align: left;">{{this.mazai.MazaiSugar}}mg</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" style="text-align: right;">カロリー:</ion-col>
        <ion-col size="6" style="text-align: left;">{{this.mazai.MazaiKcal}}kcal</ion-col>
      </ion-row>
    </ion-grid>

    <ion-button shape="round" color="success" (click)="onClickInjectingBtn()">
      注入
    </ion-button>
  </ion-card-content>
</ion-card>

<!-- 魔剤入力モーダル -->
<app-mazai-input-modal #mazaiInputModal [isNew]="false" [updateMazai]="this.mazai"></app-mazai-input-modal>