:host{
    height: 100%;
}

.menu-icon{
    position: absolute;
    top: 0%;
    left: 90%;
    font-size: 24px;
    margin-top: 5px;
    margin-right: 5px;
}

.img-box{
    display: flex;
    justify-content: center;
    margin: 5px;
    position: relative;
}

ion-card{
    ion-card-subtitle{
        line-height: 0.5;
        text-transform: none;
    }
}

ion-img{
    max-width: 145px;
    //max-height: 355px;
    max-height: 295px;
}

//スマホ
@media screen and (min-width:480px) {
    ion-card{
        height: 533px;
        width: 300px;

        ion-card-title{
            font-size: clamp(20px,2.9vw, 28px);
        }
    }
}

//ipad
@media screen and (min-width:768px) {
    ion-card{
        height: 906px;
        width: 600px;

        ion-card-title{
            font-size: clamp(28px,2.9vw, 36px);
        }

        ion-card-subtitle{
            line-height: 0.7;
            font-size: clamp(16px,2.9vw, 24px);
        }
    }
}