<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>

      <ion-row style="align-items:center;">
        <ion-col size="2">
          <ion-button fill="clear" (click)="onClickTodayBtn()">
            <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
          </ion-button>
        </ion-col>


        <ion-col size="4">
          <ion-text color="primary">
            <p>{{this.startOfWeek| date:'MM/dd'}}~{{this.endOfWeek | date:'MM/dd'}}</p>
          </ion-text>
        </ion-col>

        <ion-col size="2">
        </ion-col>

        <ion-col size="2">
          <ion-button fill="clear" (click)="onClickBeforeWeekBtn()">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="2">
          <ion-button fill="clear" (click)="onClickNextWeekBtn()">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-toolbar>
  </ion-header>

  <!-- 折れ線グラフ -->
  <app-mazai-line-graph #mazaiLineGraph></app-mazai-line-graph>
  <!-- 円グラフ -->
  <app-mazai-pie-graph #mazaiPieGraph></app-mazai-pie-graph>

</ion-content>