<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>

      <ion-row style="align-items:center;">
        <ion-col size="2">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="calendar-outline"></ion-icon>
          </ion-button>
        </ion-col>


        <ion-col size="3">
          <ion-text color="primary">
            <p>8/9~8/16</p>
          </ion-text>
        </ion-col>

        <ion-col size="3">
          <ion-select placeholder="1週間" selectedText="期間を選択">
            <ion-select-option>1週間</ion-select-option>
            <ion-select-option>2週間</ion-select-option>
            <ion-select-option>1ヶ月</ion-select-option>
            <ion-select-option>2ヶ月</ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size="2">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="2">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-title>
        総エナジー数
        <br>
        <span>14</span>
        <span style="font-size: large; color: red;">-4</span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas style="position: relative; height:200px; width:100%;"></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>魔剤割合</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #pieCanvas style="position: relative; height:200px; width:100%;"></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>